<header class="jumbotron">
	<div class="container text-center">
		<h1>ADS - {{pageTitle}} </h1>
	</div>
</header>
<main class="container">	
	<div class="row">
		<aside class="col-xs-3 col-sm-3 col-md-3 col-lg-3">		
			<div class="panel panel-default">						
				<div class="panel-heading">
					<h3 class="panel-title">Navigation</h3>
				</div>							  						
				<div class="panel-body">
				    <ul class="nav nav-pills nav-stacked">
						<li role="presentation"><a href="#/">Home</a></li>
						<li role="presentation"><a href="#/log-in">Log-in</a></li>
						<li role="presentation" class="active"><a href="#/register">Register</a></li>
					</ul>
				</div>
			</div>
		</aside>
		<section class="col-xs-9 col-sm-9 col-md-9 col-lg-9" >
			<form role="form" ng-submit="onRegisterUser()">
				<div class="row">
					<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<label for="username">Username <span class="reqMark">*</span></label>
						<input type="text" class="form-control" id="username" ng-model="user.username" required>
						<label for="pass">Password <span class="reqMark">*</span></label>
						<input type="password" class="form-control" id="pass" ng-model="user.password" required>
						<label for="email">Email <span class="reqMark">*</span></label>
						<input type="email" class="form-control" id="email" ng-model="user.email" required>
						<label for="phone">Phone</label>
						<input type="text" class="form-control" id="phone" ng-model="user.phone">
					</div>
					<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<label for="name">Full Name <span class="reqMark">*</span></label>
						<input type="text" class="form-control" id="name" ng-model="user.name" required>
						<label for="passConfirm">Confirm password <span class="reqMark">*</span></label>
						<input type="password" class="form-control" id="passConfirm" compare-to="user.password" ng-model="user.confirmPassword" required>
						<label for="town">Town</label>
						<select class="form-control" ng-model="user.town" ng-options="town.id as town.name for town in towns">
							<option value="" disabled="disabled">Select Town</option>
						</select>
					</div>				
				</div>
				<div class="row">						
					<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
					<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<a href="#/log-in" class="btn btn-success">Log-in</a>
					</div>
				</div>
			</form>
		</section>				
	</div>
</main>	