<header class="jumbotron">
    <div class="container text-center">
        <h1>ADS - {{pageTitle}}</h1>
    </div>
</header>
<main class="container">
    <div class="row">
        <aside class="col-xs-3 col-sm-3 col-md-3 col-lg-3 left-panel">      
            <div class="panel panel-default">                       
                <div class="panel-heading">                 
                    <h3 class="panel-title row">
                        <span class="col-md-6">Hello <strong>{{user}}</strong></span>
                        <span class="col-md-6">
                            <a href="javascript: void(0);" class="btn btn-info btn-sm" ng-click="logOut()">Log-out</a>
                        </span>
                    </h3>
                </div>                                                  
                <div class="panel-body">                   
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="#/">Home</a></li>
                        <li role="presentation" class="active"><a href="#/user/ads">My Ads</a></li>
                        <li role="presentation"><a href="#/user/ads/new">Publish New Ad</a></li>
                        <li role="presentation"><a href="#/user/profile">Edit Profile</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <section class="col-xs-9 col-sm-9 col-md-9 col-lg-9" >
            <form ng-submit="editAd(ad, adEditForm)" role="form" id="ad-edit-form" name="adEditForm">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="form-group col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <label for="ad-title">Title <span class="reqMark">*</span></label>
                                <input type="text" ng-model="ad.title" required id="ad-title" class="form-control"/>
                                <label for="ad-text">Text <span class="reqMark">*</span></label>
                                <textarea class="form-control" required ng-model="ad.text" name="adTextArea" id="ad-text" cols="40" rows="5"></textarea>
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-xs-4">
                                <label for="image">Image</label><br/>
                                <input type="file" ng-model-instant id="image" onchange="angular.element(this).scope().setFiles(this)" ng-if="ad.imageDataUrl == null"/>
                                <img width="100" ng-src="{{ad.imageDataUrl}}" ng-if="ad.imageDataUrl != null"><br/>
                                <a href ng-click="deleteImageUrl(ad)" class="btn form-btn" ng-if="ad.imageDataUrl != null">Delete image</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="towns-select">Category: </label>
                                    <select class="form-control" ng-model="ad.categoryId" ng-options="category.id as category.name for category in categories">
                                        <option value="" disabled="disabled">Select Category</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="categories-select">Town: </label>
                                    <select class="form-control" ng-model="ad.townId" ng-options="town.id as town.name for town in towns">
                                        <option value="" disabled="disabled">Select Town</option>
                                    </select>
                                </div>
                            </div>
                        </div>                          
                    </div>                    
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <button type="submit" ng-disabled="adEditForm.$invalid" class="btn form-btn btn-info">Edit</button>
                        <a href="#/user/ads" class="btn form-btn">Cancel</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</main>